@import url("http://fonts.googleapis.com/css?family=Alegreya&subset=latin,latin-ext");
@import url("http://fonts.googleapis.com/css?family=Amarante&subset=latin,latin-ext");
@import url("http://fonts.googleapis.com/css?family=Arima+Madurai&subset=latin,latin-ext");
@import url("http://fonts.googleapis.com/css?family=Berkshire+Swash&subset=latin,latin-ext");

$second-font: 'Berkshire Swash', sans-serif;
//$main-font: 'Arima Madurai', sans-serif;
$main-font: 'Amarante', sans-serif;
//$main-font: 'Alegreya', sans-serif;

$background-color: #2c2c2c;

.centered {
  text-align: center;
}

.redo {
  color: antiquewhite;
}

body {
  padding-top: 50px;
  background-color: $background-color;
  font-family: $main-font;
}

nav {
  font-family: $second-font;
  font-size: 1.6rem;
}

// ----- HOME ------

.container.row {
  padding: 0;
}

blockquote {
  margin-top: 50px;
  font-family: $main-font;
  color: lighten($background-color, 60%);
  border-left: 4px solid grey;
}

// ----- TEAM ------

.accent-back {
  background-color: #191919;
  color: lighten($background-color, 60%);
}

.accent-back h3 {
  padding-left: 20px;
}

div.centered.well {
  color: darken($background-color, 10%);
}

.my-well {
  padding-bottom: 20px;
}

.titles {
  color: lighten($background-color, 60%);
}

// ------ TABLES ------

.table-striped > tbody > tr:nth-child(even){
  background-color: #cbcbcb;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #a2a2a2;
}